@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* @font-face {
    font-family: 'Ferry'; /* Замените 'YourFontName' на имя вашего шрифта. 
    src: local('2717-font.otf') url('../../public/fonts/2717-font.otf') format('otf'); /* Укажите правильный путь к вашему файлу шрифта. 
    font-weight: 900;
    font-style: normal;

  } */


body {
    font-family: 'Inter', sans-serif;
}

@media (min-width: 576px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 60px;
    
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 25px;
    
    }
}




/* a {
    color: black;
} */

