.header {
    padding: 0;
    height: 93px;

}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
    

    
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__navbar ul {
    display: flex; 
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.header__navbar-text {
    color: black;
}

.header__navbar-text:hover {
    opacity: 0.8;
    font-weight: 600;
}


.header__rect {
    width: 2px;
    height: 26px;
    margin:0 5px;
}



.header__signin {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
    font-size: 14pt;
   
       
}

.header__signin-text {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    opacity: 0.4;
    
}

.header__signin-text:hover {
    opacity: 1;
}


.header__login-button {
    color: #000;
    padding: 4px 22px 5px;
    background-color: #7ce3e1;
    border-radius: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
   

}

.header__login-button:hover {
    background-color: #5970FF;
}

.header__user-info-avatar {
    
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header__user-info-data {
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}



.header__user-info-status {
    display: flex;
    align-items: center;
    column-gap: 40px;
    
}

.header__user-info-column {
    display: flex;
    flex-direction: column; /* Расположение элементов в столбец */
    align-items: center; /* Выравнивание по центру по горизонтали */ 
}


  
.header__user-info-name {
    font-size: 14px;
    line-height: 17px;
    color: #949494;
    
  }
  
.header__logout-text {
    font-size: 10px;
    line-height: 12px;
    color: #949494;
  }

.header__user-info-status-spend {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
    
    
  }

.header__user-info-status-limit {
    font-size: 10px;
    
  }

.header__user-info-status-text {
    display: flex;
    flex-direction: column; /* Расположение элементов в столбец */
    align-items:end; /* Выравнивание по центру по горизонтали */ 
    background-color: #D9D9D9;
    padding: 10px 15px 15px 12px;
    border-radius: 5px;
    
    
}

.header__user-info-status-spend-span {
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    color: black;
    padding-left: 5px;
    
    
    
    
  }

  .header__user-info-status-limit-span {
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    color: #8AC540;
    padding-left: 5px;
   
    
  }
  