.articlecard {
    width: 641px;
    height: auto;
    border-radius: 10px;
    border: 2px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.articlecard__info {
    font-size: 16px;
    color: #949494;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.articlecard__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 30px;
}

.articlecard__desc {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.5px;
    letter-spacing: 0.01em;
    padding:3px 12px 3px 12px;
    background-color:#ffb64F;
    width: 157px;
    height: 22px;
    border-radius: 5px;
}

.articlecard__image {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 11px;
    width: 581px;
    height: 158px;

}

.articlecard__text {
    display: flex;
    height: 360px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    font-family: Inter;
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
}

.articlecard__fullprice {
    opacity: 50%;
    text-decoration: line-through;
}

.articlecard__pricedesc {
margin-left: 30px;
margin-top: 10px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.01em;
}

.articlecard__tarif {
    margin-left: 30px;
    margin-top: 59px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.articlecard__tarifdesc::before {
    content: url(../img/icons8.png); 
    display: inline-block; 
    margin-right: 5px; 
  }

.articlecard__tarifdesc {
    margin-left: 58px;
    margin-top: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em; 
}

.articlecard__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px; 
} 

.articlecard__btn {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 32px 16px 32px;
    background-color: #7CE3E1;
    border-radius: 5px;
    margin-bottom: 30px;
}

.articlecard__btn:hover {
    opacity: 0.8;
    color: #000;
}

.articlecard__footerinfo {
    align-items: flex-end;
    margin-top: 30px;
    color: #949494;
}

@media (max-width: 575px) {
    .articlecard {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 2px;
        box-shadow: 0px 0px 20px 0px #00000033;
    }

    .articlecard__text {
        height: auto; 
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        font-family: Inter;
        color: #949494;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.01em;
    }
}