.image {
    display: flex;
    justify-content: space-around;

    

}

/* @media (max-width: 575px) {
    .image {
        display: flex;
        width: 891px;
        height: 392px;
        
        
    }    
} */